head
    title ECHO #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' )
    meta(name='theme-color', content='#000' )
    link(rel='stylesheet', href='/static/assets/stylesheets/app.css', type='text/css' )
    link(rel='shortcut icon', href='/static/assets/images/favicon_black.png' )
    link(rel='manifest', href='/static/manifest.json' )


    script(src='/static/assets/javascripts/jquery-1.12.1.min.js')
    script(src='/static/assets/javascripts/countdown.min.js')