script(src='/static/assets/vendors/js/head.min.js')
script(src='/static/assets/javascripts/reveal.min.js')
script(src='/static/assets/javascripts/stats.min.js')
script(src='/static/assets/javascripts/footer.js')