doctype html
html
    include includes/head
    body.tv

        ={'Id'}



        include includes/foot
        script.
            let uid = Math.random().toString(36).substring(2);
            console.log(uid);
