section

each verse, i in el.song.prompterSequence
    section(data-state='song-top' data-i=i)
        each part, index in verse
            if index === 'text'
                each text, j in part
                    span.song-block.js-song-block
                        if text
                            if(el.notes === 'style-1')
                                span.song-element--style-1.js-song-element=text
                            else if(el.notes === 'style-2')
                                span.song-element--style-2.js-song-element=text
                            else
                                span.song-element.js-song-element=text
                        else
                            span

section.full-screen