section(data-menu-title=el.name)
    =section
each verse, i in el.song.prompterSequence
    section(data-autoslide=verse.timeSlide[0])
        - console.log(verse)
        each part, index in verse
            if index === 'text'
                each text, j in part
                    span.song-block.js-song-block
                        if text
                            if(el.notes !== '')
                                span.js-song-element.song-element(class="song-element--" + el.notes)=text
                            else
                                span.song-element.js-song-element=text
                        else
                            span

section(data-menu-title='fade-out')