section(data-menu-title=el.name)
    =section
each verse, i in el.song.prompterSequence
    section
        each part, index in verse
            if index === 'text'
                each text, j in part
                    span.song-block
                        if text
                            span.song-element=text
                        else
                            span

section(data-menu-title='fade-out')